# Default ignored files
/shelf/
/.mvn/
/.idea/
/workspace.xml
artshop-backend.iml

# Ignore the logs directory
/logs/

# Ignore build artifacts
/target/

# Editor-based HTTP Client requests
/httpRequests/

# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

# Env / sekrety
env/
*.env